
 @font-face { font-style : bold; src: url("assets/fonts/FiraSansBold.ttf"); font-family : "Fira Sans"; font-weight : 700;  }
 @font-face { font-style : normal; src: url("assets/fonts/FiraSansRegular.ttf"); font-family : "Fira Sans"; font-weight : 400;  }